.boxedForm {
  display: block;
  margin: $extralarge-margin auto $extralarge-margin*2 auto;
  padding: $extralarge-padding $extralarge-padding $extralarge-padding*2;
  text-align: left;

  background-color: #fff;
  border-radius: 5px;

  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.16);
  
  width: 450px;
  max-width: 99%;

  position: relative;
}

.boxedForm-heading {
  font-size: 16px;
}

.boxedForm-submit {
  padding: $large-padding $extralarge-padding * 2;
  border-radius: 27px;
  background-color: $color-primary;
  font-weight: 300;
  color: white;
  cursor: default;

  position: absolute;
  right: 50%;
  transform: translateX(50%) translateY(50%);
  margin: 0;

  &:hover, &:active, &:focus {
    background-color: $color-primary-darker;
    color: white;
  }
}
