.form {


}

.form-row {
	padding: $padding 0;
	& > label {
		display: block;
		margin-bottom: $margin;
		font-size: 14px;
	}

	& > input[type="text"], & > input[type="password"] {
		width: 100%;
		padding: $padding $large-padding;
		border-radius: 25px;
		border: 1px solid $color-border-inactive;
		outline: 0;
		box-shadow: 0px 0px 0px 2px rgba($color-primary, 0);

		&:focus {
			border-color: rgba($color-primary, 0.8);
			box-shadow: 0px 0px 0px 2px rgba($color-primary, 0.5);

		}
	}
}
