<div class="terminal-commandResponse">
  <ul>
    <li>> Snacks@console v0.1.0 alpha is an open source intuitive An intuitive browser-based SQL console to run and save SQL queries.</li>
    <li>> This module is a part of Snacks Project [ <a href="">@website</a> ]</li>
    <li>> Github repository: <a href="">@snacks-console</a></li>
    <li>> License: MIT</li>
    <li>> Author: Mazen Touati [<a href="mailto:mazen_touati@hotmail.com">mazen_touati@hotmail.com</a>]</li>
    <li>> Social links: <a href="https://www.facebook.com/Mazn.touati" target="_blank">@facebook</a> - <a href="https://twitter.com/mazen_touati" target="_blank">@twitter</a> - <a href="https://www.linkedin.com/in/mazentouati/" target="_blank">@linkedin</a> - <a href="https://github.com/mazentouati" target="_blank">@github</a> - <a href="https://dev.to/mazentouati" target="_blank">@dev.to</a></li>
    <li>> If you like this tool kindly spread love ❤️ by giving the repository a star and/or sharing it with your friends 🎉</li>
  </ul>
</div>
