<div class="terminal-commandResponse">
  <p>> welcome to snacks@console help section, these are the available internal commands that you can use :</p>
  <p>
    <ul>
      <li>-settings : open a settings UI where you can configure the behaviors of the console</li>
      <li>-documentation : open a page for in depth documentation</li>
      <li>-bookmarks : shows the bookmarked queries</li>
      <li>-clearrecent : clears the recent queries</li>
      <li>-clear : clears the console</li>
      <li>-about : about snacks console</li>
    </ul>
  </p>
</div>
