$color-primary          : #0090c1;
$color-primary-lighter	: #38aecc;
$color-primary-darker	: #083d77;
$color-light            : #fdf0d5;

$color-body             : #222;
$color-heading          : #000;
$color-muted            : #888888;
// $color-muted            : #B4B4B4;

$color-links            : #16cfff;
$color-border           : #d4d4d5;
$color-border-inactive  : #ccd0d5;

$color-error            : #E81224;
