$result-bookmark-color: #2699FB;


$result-heading-height: 50px;

$result-table-bars-height: 25px; //table info, query log...
$result-table-bars-number: 1; //number of bars in page ( required to calculate table height )